//- index.pug

// Site index for cealloga host
// @since 0.3.0

html
    head
        title cealloga.js Home
    body
        div(id="main")
        include react.pug
        script(type="text/babel" src="/cealloga/static/ui/App.jsx")
