//- react.pug

// Renders appropriate react script tags depending on the environment.
// @since 0.3.0

case env
    when "dev"
        script(src="/cealloga/static/ui/react@16/umd/react.development.js")
        script(src="/cealloga/static/ui/react@16/umd/react-dom.development.js")
    default
        script(src="/cealloga/static/ui/react@16/umd/react.production.min.js")
        script(src="/cealloga/static/ui/react@16/umd/react-dom.production.min.js")
script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
